<%= turbo_frame_tag "first_quote" do %>
  <div class="container d-flex jcb border-bottom">
    <h1>Quotes</h1>
      <%= link_to "New quote", new_quote_path, data: { turbo_frame: "new_quote"} %>
  </div>
<% end %>
  <%= turbo_frame_tag Quote.new %>
<%= turbo_frame_tag "quotes" do %>
  <%= render partial: "quotes", collection: @quotes, as: :quote %>
<% end %>
